<div class="header">
    <div class="wrap">
    <div class="tekst">Every tourist sees the temples</div>
    </div>
</div>
  
<div class="content">
    <div class="wrap">
        <div class="col-xs-12">
            <div class="cultureTitle">Experience what most of them will never see.</div>
        </div>
        <div class="col-xs-12 col-sm-5 cultureTextWrap">
            <div class="cultureText">
                <p>Deep cultural immersion experiences from Authentrip</p> 
            </div>
        </div>
        <div class="col-xs-12 col-sm-7">
            <div class="cultureImg"></div>
        </div>  
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="attWrap">
                <div class="attTitle">
                    Food
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="attWrap">
                <div class="attTitle">
                    Locals
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="attWrap">
                <div class="attTitle">
                    Community
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->


<div class="temple">
	<div class="container" style="height: 100%;"><div class="row" style="height: 100%;">
		<div class="templeHeader">
			
		</div>
	</div></div> <!-- container and row -->
</div>


