@import "bootstrap-sprockets";
@import "bootstrap";

@mixin vert-center {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin horiz-center {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin center-both {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
} 

.temple {
	/* background-image: image-url("temple.jpg"); */
	position: relative;
	height: 500px;
	background-color: black;
	.templeHeader {
		font-size: 52px;
		color: white;
		position: relative;
		text-align: center;
		@include center-both;
	}
}
.treehouse {
	background-image: image-url("treehouse.jpg");
	height: 500px;
}